name: Update All Packages

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Image tag to use for all packages'
        required: true
      dbt_version:
        description: 'Pin dbt version to install in built images (optional). Example: 1.9.1'
        required: false
        default: ''

jobs:
  list-dockerfiles:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.dockerfiles.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - id: dockerfiles
        run: echo "matrix=$(ls dockerfiles/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

  ghcr:
    runs-on: ubuntu-latest
    needs: list-dockerfiles
    permissions:
      contents: read
      packages: write
    env:
      DBT_VERSION: ${{ github.event.inputs.dbt_version }}
    strategy:
      matrix:
        image: ${{ fromJson(needs.list-dockerfiles.outputs.matrix) }}
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: GHCR Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: image-tag  # example output: "ghcr.io/kestra-io/dbt-snowflake:<image_tag>"
        run: |
          export IMAGE=$(basename ${{ matrix.image }} .Dockerfile)
          IMAGE_URL="ghcr.io/kestra-io/$IMAGE:${{ inputs.image_tag }}"
          TAGS="$IMAGE_URL"
          # If DBT_VERSION is provided, add an additional dbt-tag
          if [ -n "$DBT_VERSION" ]; then
            DBT_TAG="ghcr.io/kestra-io/$IMAGE:dbt-$DBT_VERSION"
            TAGS="$TAGS,$DBT_TAG"
          fi
          echo "tags=$TAGS" >> $GITHUB_OUTPUT
          echo "file=dockerfiles/${{ matrix.image }}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        continue-on-error: true  # avoid blocking other images
        with:
          context: .
          push: true
          build-args: DBT_VERSION=${{ env.DBT_VERSION }}
          tags: ${{ steps.image-tag.outputs.tags }}
          file: ${{ steps.image-tag.outputs.file }}
          platforms: linux/amd64,linux/arm64
